<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Agenda Web</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css" th:src="@{/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:src="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.css" th:src="@{/css/bootstrap-grid.css}">
        <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css" th:src="@{/css/bootstrap-grid.min.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.css" th:src="@{/css/jquery-ui.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css" th:src="@{/css/jquery-ui.min.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.structure.css" th:src="@{/css/jquery-ui.structure.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.structure.min.css" th:src="@{/css/jquery-ui.structure.min.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.theme.css" th:src="@{/css/jquery-ui.theme.css}">
        <link rel="stylesheet" type="text/css" href="css/jquery-ui.theme.min.css" th:src="@{/css/jquery-ui.theme.min.css}">
        
        
        <script type="text/javascript" src="js/jquery.js" th:src="@{/js/jquery.js}"></script>
        <script type="text/javascript" src="js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
        <script type="text/javascript" src="js/funciones.js" th:src="@{/js/funciones.js}"></script>
    </head>
    <body>
        <div class="container">
            
            <div class="row" style="margin-top: 30px">
                    <div class="col-md-4" id="titulo"><h2>..::Contactos::..</h2></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><input id="btn_nuevo" type="button" value="Nuevo" class="btn btn-block btn-md btn-outline-info"/></div>
            </div>
            <div id="cont-procesos">

            </div>
        		
           

            <div id="cont-catalogo" style="margin-top: 25px">
                    
            </div>
            
            <div id="cont-email" style="display:none;"  title="Emails">
            </div>
            
             <div id="cont-phone" style="display:none;"  title="Telefonos">
            </div>
            
        </div>
        
    </body>
</html>
